.html {
    box-sizing: border-box;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.top {
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 8px;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.link {
    margin: 16px;
}

.link a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.bottom {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.header-text {
    flex: 1;
}

.header-main {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 4px;
}

.header-sub {
    font-size: 18px;
    filter: contrast(30%);
    color: #E5E7EB;
    margin-bottom: 8px;
}

.bottom img {
    flex: 1;
    height: auto;
    width: 400px;
    padding: 52px 12px 52px 52px;
}

.header-button, .action-button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    padding: 6px 24px;
    font-weight: bold;
}

.header-button {
    border: 0;
}

.random {
    display: flex;
    flex-direction: column;
    align-items: center;
}